/** {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}*/


body {
	background-color: #595c6f;
	background-image: url('/images/bamboo-texture.jpg');
	font-family: courier;
	color: #fff3e5;
	font-size: 16px;
}

main {
	width: 90%;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
}

nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

nav ul{
	background-color: #272822;
}

li a {
	color: #fff3e5;
	text-decoration: none;
}

a {
	color: #fff3e5;
	text-decoration: none;
}

nav li {
	list-style: none;
	display: inline-block;
	padding: 10 15 10 15;
	background-color: #272822;
}

nav li a {
	color: #fff3e5;
	text-decoration: none;
	font-size: 3em;
	font-weight: bold;
	margin: 10 20 10 20;
}

a:hover {
	color: #2bb4c3;
}

input {
	margin: 10 0 10 0;
}

fieldset {
	border: none;
}

legend {
	margin: 5 0 5 0;
}

select {
	margin: 5 0 5 0;
}

#ordersummary{
	margin: 0 auto;
}

.ordersummary{
	float: left;
	width: 32%;
	margin-right: 1%;
	text-align: center;
}

.summarypagediv {
	float: left;
	width: 35%;
	margin-right: 5%;
	border: solid 1px #fff3e5;
	padding-left: 20px;
	padding-right: 15px;
	margin-bottom: 20px;  
}

#form_edit_item {
	max-width: 40%;
	margin: 0 auto;
	background-color: #272822;
	text-align: center;
	padding: 10;
}

.ordereditems {
	float: left;
	padding-right: 10;
	margin: 0 0 0 0;
}

.ordereditemsform{
	margin-bottom: 5px;
}

.deletebutton{
	margin-top: 0px;

}

.orderitem{
	float: left;
	display: inline-block;
	max-width: 250px;
	margin-right: 10px;
}

hr {
	float: none;
	clear: both;
}

.section-title {
	float: none;
	clear: both;

	text-align: center;
	/*background-color: #272822;*/

	padding: 5 0 5 0;
}

.ordercat {
	float: none;
	clear: both;
}

.clear{
	float: none;
	clear: both;
}

#checkout {
	margin: 0 auto;
	text-align: center;
	font-family: courier;
}

#checkout a {
	color: #272822;
	font-style: bold;
	font-size: 32px;
	text-decoration: underline;
}

.btn-menuitem {
	border : solid 0px #006fff;
	border-radius : 11px;
	moz-border-radius : 11px;
	font-size : 16px;
	color : #fff3e5;
	padding : 5px 15px;
	background : #272822;
}

.btn-menuitem:hover {
	border : solid 0px #006fff;
	border-radius : 11px;
	moz-border-radius : 11px;
	font-size : 16px;
	color : #2bb4c3;
	padding : 5px 15px;
	background : #272822;
}

.btn-menuitem-delete {
	margin-top: 0px;
	border : solid 0px #006fff;
	border-radius : 11px;
	moz-border-radius : 11px;
	font-size : 12px;
	color : #ff5f55;
	padding : 5px 15px;
	background : #272822;
}

.btn-menuitem-delete:hover {
	margin-top: 0px;
	border : solid 0px #006fff;
	border-radius : 11px;
	moz-border-radius : 11px;
	font-size : 12px;
	color : #ff5f55;
	padding : 5px 15px;
	background : #2bb4c3;
}

@media (max-width: 900px) {
  .ordersummary {
	float: none;
	width: 100%;
	text-align: center;
	}
  .summarypagediv {
	float: left;
	width: 95%;
}
}

@media (max-width: 450px) {
	h1	{
		text-align: center;
	}
	.orderitem {
		display: block;
		width: 90%;
		max-width: 100%;
		margin-right: 0%;
		margin: 0 auto;
		margin-bottom: 10px;
		text-align: center;
	} 
	.btn-menuitem {
		display: block;
		margin: 0 auto;
		width: 100%;
		padding: 15 10 15 10;
	}
	.btn-menuitem:hover {
		padding: 15 10 15 10;
	}
	nav li a {
		font-size: 2em;
	}
	nav li {
		display: block;
		padding: 5 0 5 0;
	}
}


