<h1>Your Parties</h1>
<p><a href="/parties/new">Create New Party</a></p>

	<% @parties.each do |party| %>
	<form action="/parties/<%= party.id %>">
		<input class="btn-partys" type="submit" value="Party <%= party.id %>">
	</form>
	<% end %>

