<h2>Welcome Sam!</h2>

<img id="home-hero-img" src="images/uk-sushi-v1-w1000.png">

<div id="home-btns-div">
	<p>Please choose an option:</p>
	<form class="bt-homepage-form" action="/parties/new">
		  <input class="btn-homepage" type="submit" value="Create New Party">
	</form>

	<form class="bt-homepage-form" action="/parties">
		  <input class="btn-homepage" type="submit" value="My Tables">
	</form>
	<p>IMPORTANT:<br>log-in funtionality will be added spring 2015.  Until then, please do not fuck with each other's tables or the menu.  Thanksies,<br>- The Management</p>
</div>
