<h2>PARTIES</h2>


	<% @parties.each do |party| %>
	<h3>Party: <a href="/partys/<%= party.id %>"><%= party.id %></a>, Table: <%= party.table_id %></h3>
	<% end %>

</ul>

<a href="/partys/new">Create New Party</a>