<!-- patrons, paid, table -->

<h2>Create New Party</h2>
<form action="/partys" method="POST">
	<legend>Select Table Number</legend>
	<select name="party[table_id]">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
		<option>15</option>
		<option>16</option>
		<option>17</option>
		<option>18</option>
		<option>19</option>
		<option>20</option>
	</select><br>
	<legend>Select Party Size</legend>
	<select name="party[patrons]">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
		<option>15</option>
		<option>16</option>
		<option>17</option>
		<option>18</option>
		<option>19</option>
		<option>20</option>
	</select>
	<legend>Checkout Status</legend>
	<select name="party[paid]">
		<option>true</option>
		<option>false</option>
	</select>
	<legend>Notes</legend>
	<input type="text" name="party[notes]" placeholder="optional"><br>
	<input type="submit">
</form>

